# @format

services:
    database:
        image: mariadb:11.4.5
        container_name: '${PROJECT_NAME}_db'
        command: --transaction-isolation=READ-COMMITTED
        environment:
            MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
            MYSQL_DATABASE: strapi_db
        ports:
            - '3306:3306'
        volumes:
            - ./db_data:/var/lib/mysql:delegated
            - ./.backup/db:/backup/db
        networks:
            - local

    nginx:
        image: nginx:1.29.1-alpine3.22
        container_name: '${PROJECT_NAME}_nginx'
        volumes:
            - ./local/nginx/mime.types:/etc/nginx/mime.types
            - ./local/nginx/nginx.conf:/etc/nginx/nginx.conf
            - ./local/nginx/strapi.conf:/etc/nginx/conf.d/default.conf
        ports:
            - '80:80'
            - '443:443'
        depends_on:
            - strapi
        networks:
            local:
                aliases:
                    - strapi.localdev

    strapi:
        build: ./local/strapi
        container_name: '${PROJECT_NAME}_strapi'
        working_dir: /var/www/html
        volumes:
            - ./.backup/strapi:/backup
            - ..:/var/www/html
            - ../strapi:/var/www/html/strapi
            - /var/www/html/strapi/node_modules
        tty: true
        environment:
            - CHOKIDAR_USEPOLLING=true
            - WATCHPACK_POLLING=true
        ports:
            - '1337:1337'
        networks:
            local:
                aliases:
                    - strapi.localdev

networks:
    local:

volumes:
    db_data:
